html
  head
    title='VIS Technology'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 You Vodafoneers!!!
        p Click the  button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://www.vodafone.com.eg/vodafoneportalWeb/en/myWorld_mainPage") Podcast
        p
